@import url(index.css);

@media (min-width: 320px) {
    body {
    display: grid;
   
      font-size: 20px;
      color: #fff;
    }
  }
  
@media (min-width: 1440px) {
    body {
      
    }
  }

.card-item{
    background-color: var(--dark-gray-200);
    padding: 24px 25px;
}
.card-item__title{ 
  font-weight: bold;
  font-variant: small-caps;
  margin-bottom: 5px;
  text-align: left;
  font-size: 12.5px;
  color: var(--orange);
  
}
.card-item__articul {
  font-size: 10.42px;  
  font-weight: bold;
  color:var(--white);
  font-variant: small-caps;
  
  text-align: left;
 
}
.card-item__img{
  margin-top: 15px;
  margin-bottom: 22px;
  width: 100%;
} 
.card-item__vrap-btn{
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
.card-item__btn{
  padding: 0;
  display: flex;
  align-items: center;
  background-color: transparent;
  font-size: 10.42px;  
  font-weight: bold;
  color: var(--white);

  font-variant: small-caps;
}
.card-item__btn-svg{
  margin-right: 9px;
}
.card-item__text{
    font-size: 24.268px;
    color: var(--orange);
    
}
.card-item__table{
  font-size: 11.67px;
  font-variant: small-caps;
  width: 100%;
  padding-bottom: 13px;
  background-color: transparent;
  color: var(--black);
  font-weight: bold;
  line-height: 1.193;
  text-align: left;
 
}
.card-item__table-tr{
  padding: 6px 0;
  padding-left: 20px;
  background-color: rgb(143, 140, 146);
}

.card-item__plusminus{
  display: flex;
  margin: 11px 0;
}
.card-item__plusminus_btn{  
  
    font-weight: bold;
    background-color: var(--blue-gray);
    font-size: 18.76px;
   
    color: rgb(0, 0, 0);
    line-height: 0.939;
    text-transform: uppercase;
    width: 24px;
    height: 23px; 
}

.card-item__plusminus_p {  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: black;
  width: 24px;
  height: 23px;
  font-size: 10.61px;
  font-weight: bold;
}
.card-btn__div{
  margin-top: 19px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.card-btn{
  max-width: 100px;
 
    padding: 5px 22px 5px 19px;
    border-width: 0px;
    font-size: 9.58px;
    line-height: 1.057;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--blue-gray);
  
}

.card-btn__orange{  
    padding: 10px 24px 7px 22px;
    border-width: 0px;
    font-size: 12.5px;
    line-height: 1.057;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--orange);
    
}

.count{
  padding: 0 22px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.count_p{
  font-weight: bold;
  font-variant: small-caps;
  font-size: 10.42px;  
}
.count_p-bold{
padding-top: 7px;

  font-weight: bold;
  font-variant: small-caps;
  font-size: 11.67px;
}
.characteristic{
  margin-top: 36px;
  margin-bottom: 65px;
  font-size: 12.5px;
}
.information{
  font-size: 12.5px;
  padding: 26px 14px;
  background-color: rgb(78, 77, 77);
  margin-bottom: 11px;
}
.information__title {
  font-size: 16.67px;
  margin-bottom: 10px;
  color: rgb(255, 184, 0);
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  
}
.information__title-bold{
  font-weight: bold;
}
.response{
  padding: 26px 14px;
  margin-bottom: 11px;
}

.btn{
    margin: 0 auto 41px;
    max-width: 130px;
    padding: 5px 22px 2px 19px;
    border-width: 0px;
    font-size: 15px;
    line-height: 1.057;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--orange);
}
.sale{

  color: #000;
}
.sale__item{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 11px 24px;
  margin-bottom: 7px;
}
.sale__item__h4 {
  font-size: 31.23px;
  font-weight: bold;
  font-variant: small-caps;
}
.sale__content{
  display: flex;
}
.sale__item__p{
  font-size: 27px;
  
  font-variant: small-caps;

}
.sale__item__p-bold{
  font-size: 27px;  
  font-weight: bold;
  font-variant: small-caps;

}

.sale__title {
  font-size: 40px;
 background-color: var(--orange) ;
  color: rgb(1, 1, 1);
  font-weight: bold;
  text-transform: uppercase;
  
  text-align: left;
 
}



