@import url(index.css);

@media (min-width: 320px) {
    body {
    display: grid;
   
      font-size: 20px;
      color: #fff;
    }
  }
  
@media (min-width: 1440px) {
    body {
      
    }
  }

.card-item{
    background-color: var(--dark-gray-200);
    padding: 24px 25px;
}
.card-item__title{ 
  font-weight: bold;
  font-variant: small-caps;
  font-family: "Montserrat";
  text-align: left;
    font-size: 33.616px;
    color: rgb(237, 183, 43);
    line-height: 1.2;
}
.card-item__articul {
  font-size: 24.268px;
  
  color: rgb(255, 255, 255);
  font-variant: small-caps;
  line-height: 1.2;
  text-align: left;
 
}
.card-item__img{
  margin-top: 15px;
  margin-bottom: 22px;
}
.card-item__text{
    font-size: 24.268px;
    color: rgb(237, 183, 43);
    line-height: 1.2;
}
.card-item__table{
  font-size: 21px;
  border-width: 1px;
  border-color: rgb(79, 78, 78);
  border-style: solid;
  background-color: rgb(141, 139, 144);
  color: rgb(0, 0, 0);
  font-variant: small-caps;
  line-height: 1.193;
  text-align: left;
 
}

.card-item__plusminus{
  display: flex;
  margin: 11px 0;
}
.card-item__plusminus_btn{
    border-width: 0px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    font-weight: bold;
    background-color: rgb(219, 217, 217);
    font-size: 25;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    width: 24px;
    height: 23px; 
}

.card-item__plusminus_p {  
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  color: black;
  top: 741px;
  width: 23px;
  height: 22px;
  font-size: 14.583px;
  font-weight: bold;
}

.card-btn__div{
  margin-top: 19px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.card-btn{
  max-width: 130px;
 
    padding: 5px 22px 2px 19px;
    border-width: 0px;
    font-size: 15px;
    line-height: 1.057;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--blue-gray);
  
}

.card-btn__orange{  
    padding: 10px 24px 7px 22px;
    border-width: 0px;
    font-size: 21px;
    line-height: 1.057;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--orange);
    
}

.count{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.characteristic{
  margin-top: 36px;
}
.information{
  padding: 26px 14px;
  background-color: rgb(78, 77, 77);
  margin-bottom: 11px;
}
.information__title {
  font-size: 38.581px;
  margin-bottom: 10px;
  color: rgb(255, 184, 0);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 26px;
  text-align: left;
  
}
.response{
  padding: 26px 14px;
  margin-bottom: 11px;
}

.btn{
    margin: 0 auto 41px;
    max-width: 130px;
    padding: 5px 22px 2px 19px;
    border-width: 0px;
    font-size: 15px;
    line-height: 1.057;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--orange);
}
.sale{

  color: #000;
}
.sale__item{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 11px 24px;
  margin-bottom: 7px;
}
.sale__item__h4 {
  font-size: 31.23px;
  font-weight: bold;
  font-variant: small-caps;
}
.sale__content{
  display: flex;
}
.sale__item__p{
  font-size: 27px;
  
  font-variant: small-caps;

}
.sale__item__p-bold{
  font-size: 27px;  
  font-weight: bold;
  font-variant: small-caps;

}

.sale__title {
  font-size: 40px;
 background-color: var(--orange) ;
  color: rgb(1, 1, 1);
  font-weight: bold;
  text-transform: uppercase;
  
  text-align: left;
 
}

